<div class="headerContainer">
  <div class="headerTitle">
    <div class="siteLogo">
       <img  class="sL" src="../../assets/images/svg/SVG/PorfolioLogo2.svg" alt="">
    </div>

    <h1 class="title" routerLink="pages/home">

       <span class="spTitle">P</span>ortfolio

    </h1>
  </div>


  <div class="spacer"></div>


<div class="menuSandwich">

</div>
  <div class="headerNavBar">
    <mat-list class="header-nav-list">
      <mat-list-item
      class="header-nav-list-item nav"
      routerLinkActive="sunClass"
      routerLink="pages/home">

          <h3>Home</h3>


      </mat-list-item>

      <mat-list-item
      class="header-nav-list-item nav"
       routerLinkActive="sunClass"
      routerLink="pages/projects">

          <h3>Projects</h3>


      </mat-list-item>

      <mat-list-item
      class="header-nav-list-item nav"
       routerLinkActive="sunClass"
      routerLink="pages/experiences">
       <h3> Experience </h3>
      </mat-list-item>

      <mat-list-item
      class="header-nav-list-item nav"
       routerLinkActive="sunClass"
      routerLink="pages/education">
        <h3>
Education
        </h3>
      </mat-list-item>

      <mat-list-item class="header-nav-list-item">
        <h3 class="auth">
              <fa-icon [icon]="fakey"
              class="headerIcon"
              *ngIf="!(isAuth$|async)"
              routerLink="pages/editMode"></fa-icon>
              <fa-icon [icon]="faDoor"
              class="headerIcon"
              *ngIf="(isAuth$|async)"
              (click)="logout()"
              ></fa-icon>
        </h3>
      </mat-list-item>
    </mat-list>
  </div>
</div>
