.shellContainer {
  width: 100%;
  .shellContent {
    display: grid;

    grid-template-columns:  30px 30px 100px 250px;
    grid-template-rows: 40px 30px 30px  30px;
    grid-template-areas:
    "a b c c"
    "a b d e"
    "a b f g"
    "a b h i"
    ;


  .degreeType {
    grid-area: b;
    position:relative;
    margin: 10px;
  }
  .degreeName {
    grid-area: c;
    position: relative;
    margin: 10px;


  }
  .degreeNameContainer {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
    margin:0px;
    padding: 0px;
    span.heading {
      color: var(--accent1Color);
    }
    p {
      margin:0;
      padding: 0;
    }
  }
  .minorHeading {
    grid-area: d;
    color: var(--accent1Color);
  }
  .minorData {
    grid-area: e;
  }
  .institutionHeading {
    grid-area: f;
      color: var(--accent1Color);
  }
  .institutionData  {
    grid-area: g;
  }

  .locationHeading {
    grid-area: h;
    color: var(--accent1Color);
  }
  .locationData {
    grid-area: i;
  }
    }
}
.editButton {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: var(--accent3Color);
}

