<mat-dialog-content>
  <form action="" [formGroup]="degreeForm">
    <div class="shellContainer">
      <div class="degreeContent">
        <div class="header">
          <p class="headerText">Edit Degree</p>
          <mat-divider></mat-divider>
        </div>


        <div class="infoSection">
          <div class="infoContainer">
            <div class="institutionContainer">
              <div class="logo">
                <app-image-getter
                  [Title]="'Institution Logo'"
                  [docID]="(myDegree$ | async).id"
                  [projectCreatorID]="(myDegree$ | async).projectCreatorID"
                  [typeOfClass]="getClass()"
                  (mediaRtUrl)="processNewLogoUrlRt($event)"
                  [preview]="institLogo"
                  class="logoGetter"
                >
                </app-image-getter>
              </div>
              <div class="institution">
                <div class="label-wrapper">
                  <mat-label>Institution:</mat-label>
                </div>

                <mat-form-field>
                  <input
                    type="text"
                    matInput
                    formControlName="institution"
                    placeholder="{{ (myDegree$ | async).institution }}"
                    name="institutionInputName"
                    id="institutionInputId"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
   <div class="infoSection" id="degreeNameSection">
          <div class="infoContainer">
            <div class="degreeContainer">
              <div class="degreeType">

                <div class="label-wrapper">
                  <mat-label>Degree Type:</mat-label>
                </div>

                  <mat-form-field appearance="fill">
                      <mat-select formControlName="degreeType" >
                        <mat-option *ngFor="let type of degreeTypes" [value]="type.value">
                          {{type.viewValue}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="degree">
                <div class="label-wrapper">
                  <mat-label> Degree Name: </mat-label>
                </div>
                <mat-form-field>
                  <input
                    type="text"
                    matInput
                    formControlName="degreeName"
                    class="degreeName"
                    placeholder="{{ (myDegree$ | async).degreeName }}"
                    name="degreeNameInputName"
                    id="degreeNameInputId"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>


        <div class="infoSection">
          <div class="infoContainer minor">
            <div class="label-wrapper">
              <mat-label>Minor:</mat-label>
            </div>
            <mat-form-field>
              <input
                type="text"
                matInput
                formControlName="minor"
                placeholder="{{ (myDegree$ | async).minor }}"
                name="minorInputName"
                id="minorInputId"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="infoSection">
          <div class="infoContainer">
            <div class="locationContainer">
              <div class="cityContainer">
                <div class="label-wrapper">
                  <mat-label>City:</mat-label>
                </div>

                <mat-form-field>
                  <input
                    type="text"
                    matInput
                    formControlName="city"
                    placeholder="{{ (myDegree$ | async).city }}"
                    name="cityInputName"
                    id="cityInputId"
                  />
                </mat-form-field>
              </div>
              <div class="stateContainer">
                <div class="label-wrapper">
                  <mat-label>State:</mat-label>
                </div>

                <mat-form-field>
                  <input
                    type="text"
                    matInput
                    formControlName="state"
                    placeholder="{{ (myDegree$ | async).state }}"
                    name="stateInputName"
                    id="stateInputId"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="infoSection">
          <div class="infoContainer"></div>
        </div>

        <div class="infoSection">
          <div class="infoContainer">
            <div class="graduationContainer">
              <div class="gradYear">
                <div class="label-wrapper">
                  <mat-label>Graduation Year</mat-label>
                </div>
                <mat-form-field class="custom-style">
                  <input
                    type="text"
                    matInput
                    class="custom-style"
                    formControlName="graduationYear"
                    placeholder="{{
                      (myDegree$ | async).graduationYear | date: 'YYYY'
                    }}"
                    name="graduationYearInputName"
                    id="graduationYearInputId"
                /></mat-form-field>
              </div>

              <div class="graduated">
                <div class="label-wrapper">
                  <mat-label id="gradLabelId">Graduated</mat-label>
                </div>
                <mat-slide-toggle
                  class="custom-style"
                  [color]="myColor"
                  [checked]="(myDegree$ | async).graduated"
                ></mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="infoSection">
          <div class="infoContainer"></div>
        </div>
      </div>
      <app-edit-action-buttons
        (save)="saveToDB($event)"
        (reset)="resetChanges($event)"
        (delete)="deleteFromDB($event)"
      ></app-edit-action-buttons>
    </div>
  </form>
</mat-dialog-content>
