<div mat-dialog-container>
<div mat-dialog-content>
<div class="viewProjectContainer">
  <div class="bannerContainer">
    <img src="../../../assets/images/pngs/techDoc_banner_large.png" alt="" class="bannerImage">
    <div class="Icons"></div>
  </div>
  <div class="contentSection">
    <div class="descriptionTitleContainer">
      <div class="descriptionTitle">
        <h4>Project Description</h4>
      </div>
      <div class="startedDtate"></div>
      <div class="completedDate"></div>
      <div class="published"></div>
    </div>
    <div class="descriptionContent"></div>
  </div>
  <div class="contentSection">
    <div class="requirementsTitleContainer">
<div class="requirementsTitle">
      <h4>Project Requirements</h4>
    </div>
    </div>

    <mat-list>
      <mat-list-item></mat-list-item>
    </mat-list>
  </div>
  <div class="contentSection">
    <div class="tagTitle">
      <h4>Languages & Platforms</h4>
    </div>
    <button mat-button class="tag">html</button>
  </div>
</div>

</div>

</div>


