
.mat-dialog-content {
  width: 600px;
  overflow-x: hidden;
}
.viewProjectContainer {
height: auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto auto 20px;
  row-gap: 20px;
    font-family: futura-pt,
    sans-serif;

}

.bannerContainer {
height: 240px;
  width: 600px;

  display: flex;
  flex-direction:column;
  align-self: space-between;
  justify-content: flex-start;
top: 0px;
padding: 0px 0px;
background-repeat: no-repeat;
background-size: 600px 240px;
background-position: center center;


.bannerContent {
  width: 460px;
  height: 240px;
  margin: auto auto auto 20px;
  display:flex;
  flex-direction: column;
  padding: 0% 0px;
  align-items: flex-start;

  justify-content: space-between;
.iconsContainer {
  align-self: flex-end;
  justify-self: flex-start;
  width: 20%;
  margin-top: 10px;
  margin-right: 30px;

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    align-items: flex-start;
    font-size: 12px;



    .ng-fa-icon {
      margin: auto;
    }


  }
  .icon:hover {
    color: var(--primaryColor);
  }
  .mat-menu-panel  {
    display: inline-block;
  }
  .gitLinkMenuItem {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 30px;
    grid-template-areas: "a b";
    grid-gap: 10px;
    background-color: #fff;
  }
  .gitLinkTitle {
    grid-area: a;

  }
  .gitLinkLink {
    grid-area: b;
    text-decoration: underline;
    color: var(--primaryColor);
    margin-left: 5px
  }
}
}
.projectStatusContainer {
  width: 90%;
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  justify-self: flex-end;
  justify-content: space-between;
  margin-left: 0px;

}

.projectStatus {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  width: 500px;
  justify-self: flex-end;
  color: var(--primaryColor);
  .spacer {
    width: auto;
    margin: auto;
  }
}

.statusData {
  display: flex;
  flex-direction: row;
  width: auto;
  column-gap: 30px;
  p {
    font-size: 12px;
    .titleHeading {
      color: var(--primaryColor);
    }
  }
}


}

.contentSection {
  width: 80%;

  // display: flex;
  // flex-direction: column;
  // row-gap: 10px;;
}
.contentSection.first {
    margin-top: 10px;
  }
 h4.title {
   font-size: 12px;
   font-family: futura-pt, sans-serif;
  font-weight: 400;
  margin: 0 0 0 0;
  color: var(--primaryColor);
 }
.data {
      margin: auto 10px;
}
 .titleContainer {
   display: flex;
   flex-direction: column; column-gap: 40px;
  margin: 10px;
}
.titleHeading {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  .data {
    margin: 20px;
    width: 100%;
  }
}
.requirementsTitleContainer {
  margin: 10px 0;
}

  mat-list {



    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;

    width: 100%;
    margin: auto 0 auto 0;
    padding: auto;
  }

mat-list-item.mat-list-item.reqItem {
  width: auto;
  height: auto;
  padding: auto;
  margin: 20px 50px 20px 0;
display: flex;
flex-direction: row;
margin: 10px auto;
justify-self: flex-start;

.req {
  font-family: futura-pt, sans-serif;
  margin-left: 0px;
}
  .reqIcon {
      margin: 0px 5px;
  }
  .reqIconEdit {
    color: red;
  }
  .reqIconDelete {
    float: right;
    color: red;
  }
  .reqIconEdit {
    color: var(--accent1Color);
  }
  p {
    margin: 0;
    font-size: 14px;

 }


}
.matListItemContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.reqContainer
{
  width: 100%;
  display: flex;
  flex-direction: row;
  p.req {
height: auto;
  }
}
.projectPublished {
color: yellow;
}

.projectNotPublished {
 color: black;
}
