<div mat-dialog-container>
  <div mat-dialog-content>
    <div class="viewProjectContainer">
      <div class="bannerContainer" [ngStyle]="{ 'background-image':  'url(&quot;' + viewProjectStore?.banner + '&quot; )'}" >
        <div class="bannerContent">


          <div class="iconsContainer">
            <div class="icons">
              <fa-icon [icon]="faEdit" (click)="editProject()"></fa-icon>
              <i class="fab fa-github" (click)="gotToGitRepo()"></i>


              <fa-icon [icon]="faEye" (click)="goToSite()"></fa-icon>
              <p  class="icon" (click)="closeProject()">X</p>
            </div>
          </div>
          <div class="projectStatusContainer">
            <div class="projectStatus">
              <div class="statusData">
                <p>Date Started:</p>
                <p>{{ viewProjectStore?.started |  date: 'MM/yyyy' }}</p>
              </div>

              <div class="statusData">
                <p>Date Completed:</p>
                <p>{{ viewProjectStore?.completed | date: 'MM/yyyy' }}</p>
              </div>

              <div class="statusData">
                <p>Published:</p>
                
               <div class="publishedIconContainer">
                 <i class="far fa-lightbulb projectPublished"></i>
               </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contentSection">
        <div class="titleContatiner">
          <div class="titleHeading">
            <h4 class="title">Title:</h4>
            <p class="titleData">{{ viewProjectStore?.projectName }}</p>
          </div>
          </div>
        </div>
        <div class="contentSection">
          <div class="descriptionTitleContainer">
            <div class="descriptionTitle">
              <h4>Project Description</h4>
            </div>
          </div>

          <div class="descriptionContent">
            <p>
             {{ viewProjectStore?.description}}
            </p>
          </div>
        </div>

        <div class="contentSection">
          <div class="requirementsTitleContainer">
            <div class="requirementsTitle">
              <h4>Project Requirements</h4>
            </div>
          </div>

          <mat-list>
            

            <mat-list-item *ngFor="let req of viewProjectStore?.projectRequirements">
              <div class="matListItemContent">
                <div class="editAndReq">
                  <div class="reqContainer">
                   
                    <p class="req">
                      {{ req.requirement }}
                    </p>
                  </div>
                </div>

              
              </div>
            </mat-list-item>
          </mat-list>
        </div>

        <div class="contentSection">
          <div class="tagTitle">
            <h4>Languages & Platforms</h4>
          </div>
          <button mat-button class="tag" >html</button>
        </div>

    </div>
  </div>
</div>
