
.mat-dialog-content {
  width: 600px;
  overflow-x: hidden;
}
.viewProjectContainer {
height: auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  row-gap: 20px;
    font-family: futura-pt,
    sans-serif;

}

.bannerContainer {
height: 240px;
  width: 600px;

  display: flex;
  flex-direction:column;
  align-self: space-between;
  justify-content: flex-start;
top: 0px;
padding: 0px 0px;
background-repeat: no-repeat;
background-size: 600px;


.bannerContent {
  width: 540px;
  height: 240px;
  margin: auto auto auto 20px;
  display:flex;
  flex-direction: column;
  padding: 0% 20px;
  align-items: center;

  justify-content: space-between;
.iconsContainer {
  align-self: flex-end;
  justify-self: flex-start;
  width: 20%;
  margin-top: 10px;
  margin-right: 20px;

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
    align-items: flex-start;
    font-size: 12px;

    .fa-github {
      margin: auto;
    }

    .ng-fa-icon {
      margin: auto;
    }

    p.icon {
      margin: auto;
    }
  }
}
}
.projectStatusContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  justify-content: space-between;
  margin-left: 0px;

}

.projectStatus {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  width: 100%;
  justify-self: flex-end;
  .spacer {
    width: auto;
    margin: auto;
  }
}

.statusData {
  display: flex;
  flex-direction: row;
  width: auto;
  column-gap: 30px;
  p {
    font-size: 12px;
  }
}


}

.contentSection {
  width: 80%;
  // display: flex;
  // flex-direction: column;
  // row-gap: 10px;;
}
 h4.title {
   font-size: 12px;
   font-family: futura-pt, sans-serif;
  font-weight: 600;
  margin: 0 0 0 0;
  color: var(--accent1Color);
 }
.data {
      margin: 0 0 0 10px;
}
 .titleContainer {
   display: flex;
   flex-direction: column; column-gap: 40px;
  margin: 10px;
}
.titleHeading {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  justify-content: flex-start;
  .data {
    margin-left: 20px;
  }
}
.requirementsTitleContainer {
  margin: 10px 0;
}

  mat-list {



    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: auto 0 auto 0;
    padding: auto;
  }
mat-list-item {
  width: auto;
  padding: auto;
display: flex;
flex-direction: row;
margin: auto;
justify-self: flex-start;
.req {
  font-family: futura-pt, sans-serif;
  margin-left: 0px;
}
  .reqIcon {
      margin: 0px 5px;
  }
  .reqIconEdit {
    color: red;
  }
  .reqIconDelete {
    float: right;
    color: red;
  }
  .reqIconEdit {
    color: var(--accent1Color);
  }
  p {
    margin: 0;
    font-size: 14px;

 }


}
.matListItemContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.reqContainer
{
  width: 100%;
  display: flex;
  flex-direction: row;
  p.req {

  }
}
.projectPublished {
color: yellow;
}

.projectNotPublished {
 color: black;
}
