.container1
 {
  margin-top: -20px;
   padding: 10px;
  //  border: black 1px solid;
  //  border-radius: 50%;
    background-image: url('../../../assets/images/svg/SVG/SaveButton.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
.container2
 {
  //  border-radius: 50%;
  padding: 10px;
  // border: black 2px solid;
  overflow: hidden;
  .picContainer {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .pic {
      overflow: hidden;
    }
  }
 }

 }

 .container3 {
   width: 50px;
   height: 50px;
   display: flex;

   margin: auto 0px;
   justify-content: flex-start;
   align-items: flex-start;
     padding: 0px;
     border: black 1px solid;
     border-radius: 50%;
     background-color: rgba(0, 0, 255, 0.3);
   .container4 {
     width: 40px;
     height: 40px;
     margin: auto;
    border-radius: 50%;
justify-content: center;
justify-self: center;
align-self: center;
align-items: center;
      padding: 0px;
      border: black 2px solid;
      overflow: hidden;
     .picContainer {
 display: flex;
 margin: auto;
justify-content: center;
align-self: center;
align-content: center;
 overflow: hidden;

 img.pic {
   width: 40px;
   height: 50px;

 }
     }
   }
 }

