@import "../../../assets/css/mixins.scss";
:root {
  --homeTop: 90px;
  --distTop: 50px;
}
@media screen and (max-width: 600px) {
.container0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container1 {
    margin-top: 150px;
    padding: 10px;
    position: fixed;
    width: 120px;
    height: 120px;

    align-items: center;
    //  border: black 1px solid;
    //  border-radius: 50%;
    background-image: url("../../../assets/images/svg/SVG/SaveButton.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    .menu {
      position: fixed;
      margin-top: -50px;
      .menuItem {
        color: var(--accent1Color);
      }
      .menuItem:hover {
        color: #d4a32f;
        .loginIcon, .educationIcon,  .experienceIcon, .projectIcon, .homeIcon{
          color: var(--accent1Color);
        }
       .loginText, .projectText, .experienceText, .educationText {
        // visibility: visible;
        opacity: 1;  text-shadow: 5px 5px 5px 5px #000000;
       }
      }
      .home {
        top: 17px;
        left: 45px;
        position: relative;
        transform: rotate(0deg);
      }

      .login {
       top: 20px;
       position: relative;
       left: -335px;
        transform: rotate(33deg);
        .loginText {
             @include fade-out();
        }

      }
      .projects {
        position: relative;
        top: 23px;
        left: 124px;
        transform: rotate(-33deg);

        .projectText {
          @include fade-out();
        }
      }
      .experiences {
        position: relative;
        top: 110px;
        left: 40px;
        transform: rotate(33deg);
        .experienceText {
          @include fade-out();
        }
      }

      .education {
       position: relative;
       top: 155px;
       transform: rotate(45deg);
       left: -135px;
        .educationIcon {
          position: relative;
          top: 0px;
          left: -5px;
          margin-right: 0px;
          transform: rotate(-90deg);
        }
        .educationText {
          transform: rotate(-90deg);
          @include fade-out();
        }
      }
    }
    .container2 {
      margin-top: auto;
      position: fixed;
      overflow: hidden;
      width: 120px;
      .picContainer {
        position: fixed;
        display: flex;
        margin: auto auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 120px;
        height: 120px;
        .pic {
          margin: auto auto;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }
  }
} // CLOSES CONTAINER-0

  .container3 {
    width: 50px;
    height: 50px;
    display: flex;
    overflow: visible;
    margin: auto 0px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    border: black 1px solid;
    border-radius: 50%;
    background-color: rgba(149, 188, 211, 0.4);
     .authMenu {
       position: fixed;
       margin-top: -50px;

       .menuItem {
         color: var(--accent1Color);
       }

       .menuItem:hover {
         color: #d4a32f;

        .authIcon {
           color: var(--accent1Color);
         }

         .authText {
           // visibility: visible;
           opacity: 1;
           text-shadow: 5px 5px 5px 5px #000000;
         }
    }
    .auth {
      position: relative;
      top: 25px;
      left: -18px;
      transform: rotate(33deg);

         .authText {
           @include fade-out();
         }
    }
  }
    .container4 {
      width: 40px;
      height: 40px;
      margin: auto;
      border-radius: 50%;
      justify-content: center;
      justify-self: center;
      align-self: center;
      align-items: center;
      padding: 0px;
      border: black 2px solid;
      overflow: hidden;
      .picContainer {
        display: flex;
        margin: auto;
        justify-content: center;
        align-self: center;
        align-content: center;
        overflow: hidden;

        img.pic {
          max-width: 45px;
          max-height: 45px;
        }
      }
    }
  }

.icon {
  color: #d4a32f;
  margin: 0 5px;
}
.loggedInHome {
      top: 145px !important;
      left: 222px;
      position: fixed;
      transform: rotate(0deg);
    }
  }
  @media screen and (min-width: 601px) {
    .container0 {
      display: none;
    }
    .container3 {
      display: none;
    }
  }
