<div class="bannerUpload">
    <div class="bannerUploadContainer">
      <!-- <form action=""> -->
         <div class="bannerUploadLabel">
           <div class="label-wrapper">
                <mat-label class="uploadLabel"> {{Title}} </mat-label>
           </div>

        </div>


        <div class="bannerUploadButton">

          <input id="file-input" type="file" class="custom-file-upload" accept="image/*" value="Browse" (change)="handleFileInput($event.target.files)">

          <img alt="" src="" id="thumbnail" class="thumb" [appImgSrc]="preview" *ngIf="preview">
          <img alt="" src="" id="thumbnail" class="thumb" [appImgSrc]="downloadUrl" *ngIf="downloadUrl">
      </div>
      <!-- </form> -->


    </div>
  </div>
