<div class="bannerUpload">
    <div class="bannerUploadContainer">
      <!-- <form action=""> -->
         <div class="bannerUploadLabel">
        <mat-label class="uploadLabel"> {{Title}} </mat-label>
        </div>
       
       
        <div class="bannerUploadButton">
       
          <input id="file-input" type="file" class="custom-file-upload" accept="image/*" value="Browse" (change)="handleFileInput($event.target.files)">
        
          
          <img alt="" src="" id="thumbnail" class="thumb" [appImgSrc]="downloadUrl">
      </div>
      <!-- </form> -->
     
      
    </div>
  </div>
