<div class="experienceContainer" *ngIf="currentExperience$|async">
    <div class="infoContainer">
        <div class="infoContent">
            <div class="infoTitle">Company:</div>
            <div class="infoData">
                <div class="dataContainer">
                    <div class="companyContainer">
                        <div class="logo" ><img [appImgSrc]="(currentExperience$|async).logoUrl" alt="" class="logo"></div>
                        <div class="name">{{ (currentExperience$ | async).company }}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="infoContainer">
        <div class="infoContent">
            <div class="infoTitle">Title:</div>
            <div class="infoData">{{ (currentExperience$ | async).title }}</div>
        </div>
    </div>
    <div class="infoContainer">
        <div class="infoContent">
            <div class="infoTitle">Duration:</div>
            <div class="infoData">{{(currentExperience$ | async).started | date }} - {{(currentExperience$ | async).completed  | date }}</div>
        </div>
    </div>
    <div class="infoContainer">
        <div class="infoContent">
            <div class="infoTitle">Location:</div>
            <div class="infoData">{{(currentExperience$ | async).city }}, {{(currentExperience$|async).state}}</div>
        </div>
    </div>
    <div class="infoContainer">
        <div class="infoContent">
            <div class="infoTitle">Role:</div>
            <div class="infoData">
                <div class="dataContainer">
                    <div *ngFor="let role of (currentExperience$|async).roles" class="role">
                        <p>
                        {{ role.myTitle }} - {{ role.myRole}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="infoContainer edit">
        <div class="infoContent">
            <div class="infoTitle"></div>
            <div class="infoData">
                <div class="editContainer">
                    <button mat-raised-button class="editButton" (click)="editExperience()">
                        <!-- <fa-icon class="addClassIcon"  [icon]="editIcon" ></fa-icon> -->
                        Edit Experience
                    </button>

                </div>

            </div>

        </div>
    </div>

</div>
