<div class="profileContainer">
    <!--  -->
        <div class="profilePicContainer">

                <img [profilePic]="userToView.userPicUrl?userToView.userPicUrl:profilePic" class="profilePic" alt="">

                 <app-image-getter *ngIf="editMode"
                                [Title]="'Profile Image'" [docID]="user.id" [projectCreatorID]="user.id"
                                [typeOfClass]="getClass()" (mediaRtUrl)="processNewLogoUrlRt($event)"
                                [preview]="user.userPicUrl? user.userPicUrl: profilePic"
                                class="logoGetter" >
                            </app-image-getter>

            <!-- -->
        </div>


    <div class="profileInfoContainer">

        <div class="infoContainer">
            <div class="infoShell title">
              <div class="titleHeading">
                <p>Profile</p>
              </div>

                 <div class="spacer"></div>
                <fa-icon [icon]="iconPen" class="iconPen" *ngIf="(isAuth$|async) && !editMode" [routerLink]="[{outlets: {'profile':['edit-profile']}}]" (click)="toggleEdit()"></fa-icon>
                <fa-icon [icon]="iconEye" *ngIf="(isAuth$|async) && editMode"class="iconEye" [routerLink]="[{outlets: {'profile':['view-profile']}}]"  (click)="toggleEdit()"></fa-icon>
                <fa-icon [icon]="iconUser" class="userIcon" *ngIf="userCanSave()" (click)="saveProfile()"></fa-icon>
            </div>

        </div>
        <mat-divider></mat-divider>

        <div class="infoContainer routerWrapper">
<router-outlet name="profile" class="routerInput"></router-outlet>
        </div>

      <app-profile-buttons [inputEventKey]="eventKey" (back)="toBack($event)" (toProject)="toProjects($event)" ></app-profile-buttons>
    </div>
</div>
