<div class="profileContainer">
    <!--  -->
        <div class="profilePicContainer">

                <img [profilePic]="profilePic" class="profilePic" alt="">



            <!-- <fa-icon [icon]="iconUser" class="userIcon"></fa-icon> -->
        </div>


    <div class="profileInfoContainer">

        <div class="infoContainer">
            <div class="infoShell title">
              <div class="titleHeading">
                <p>Profile</p>
              </div>

                 <div class="spacer"></div>
                <fa-icon [icon]="iconPen" class="iconPen" *ngIf="!editMode" [routerLink]="[{outlets: {'profile':['edit-profile']}}]" (click)="toggleEdit()"></fa-icon>
                <fa-icon [icon]="iconEye" *ngIf="editMode"class="iconEye" [routerLink]="[{outlets: {'profile':['view-profile']}}]"  (click)="toggleEdit()"></fa-icon>

            </div>

        </div>
        <mat-divider></mat-divider>

        <div class="infoContainer routerWrapper">
<router-outlet name="profile" class="routerInput"></router-outlet>
        </div>

      <app-profile-buttons></app-profile-buttons>
    </div>
</div>
