mat-dialog-container {
    padding: 0;
    margin: 0;
    width: 100%;
}
mat-dialog-content {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;

}

.shellContainer {
    width: 940px;
    padding: 20px;
    margin: 0;
    align-content:space-between;
    .shellContent {
        width: 940px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;

        .header {
            width: 90%;
            margin: auto;


        }
    }
}

.mat-divider {
    border-top-color: var(--secondaryColor);
    width: 100%;
    margin: auto;
}
.headerAction {
    width: 100%;
    margin: 10px auto;
    .headerActionContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
.addExperiencesButton {
    border: none;
    justify-self: flex-end;

    float: right;
}
.experienceSlider {
    width: 250px;
    .experienceSliderContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }
}

.infoSection {
    width: 80%;
    margin: 0 auto;

    .infoContainer{
        display: flex;
        flex-direction: row;
        column-gap: 50px;
        justify-content: flex-start;
        padding: 0 auto;
        align-content: flex-start;
        margin-top: 0;
        width: 100%;
        app-image-getter {
            width: 40%;
        }
        .info {
          align-self: flex-start;
          padding-top: 0;
          border-bottom: 1px black solid;
        }
        .infoContainer.dateAndTitle {
            column-gap: 50px;

        }
        mat-form-field.infoContainer {
            margin: 0;
            padding:0;
            align-self: flex-start;
            vertical-align: top;
            height: 100%;
            div.mat-form-field-label-wrapper {
              padding: 0;
            }
            mat-label.infoLabel {
              margin-top: 0;
              padding-top: 0;
            }
        }
        mat-form-field.title {
            width: 253px;
        }
        .mat-form-field-label-wrapper {
            width: 100%;
            padding-top:0;
        }
        .label-wrapper {
            width: 100%;
            background-color: var(--accent2Color);
            line-height: 0.9em;
            margin: 0px 0 8px 0;
            padding: 5px 5px;
        }
        .infoLabel {
            width: 150px;
            align-items: center;
            margin: auto 0;
            font-size: 9px;
            color: #707070;
        }
        mat-form-field.addRole {
            width: 100%;

        }
        .infoLabel.roles {
            align-items: flex-start;
            margin-top: 0;
        }
        .label-wrapper.addRole {
            width: 100%;
            margin-top: 10px;
        }
        // .infoLabel.addRole {
          input {
            padding: 5px 5px;
          }
        // }
        .infoData {
            align-items: center;
            margin: 0;
            justify-content: flex-start;
        }

        .dataContainer{
            display: flex;
            flex-direction: row;
            column-gap: 10px;
        }
        .infoData.roles .rolesContainer {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: 100%;

        .roleContent {
            display: flex;
            flex-direction: row;
            column-gap: 30px;

            padding: 10px 10%;
            width: 100%;
            justify-content: flex-start;
            .dataContainer {
                width: 100%;

                .roleTitle {
                    width: 20%;

                }
                .roleDescription {
                    width: 50%;
                }
                .roleDescription p {
                    flex-wrap:wrap;

                }
                .spacer {
                    width: auto;
                }
                fa-icon {

                    justify-self: flex-end;
                }
                p.markedForRemoval {
                    color: pink;
                }


                p.markedForAdd {
                    color: lightgreen;
                }
                p.unmarked {
                    color: black;
                }
            }
        }
    }
        .displayRoles {
            width: 100%;
        }
        .infoData.roles {
            width: 100%;
        }
        .roleContainer .roleContent {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            width: 100%;
           justify-content: space-around;
           align-items: flex-end;

        }
        .addRoleTitle {
            width: 20%;
            display: flex;
            flex-direction: column;
            padding-top: 8px;
        }
        .addRoleHeader {
            font-size: 9px;
            color: #707070;
        }
        .addRoleDescription {
            width: 40%;
            display: flex;
            flex-direction: column;
            padding-top: 8px;
        }
        textarea#roleTitleId {
            width: 100%;
            background-color:#ecebeb2d;
            opacity: .7;
            border-bottom: var(--primaryColor) 1px solid;
        }
        textarea#roleMyRoleId {
            width: 100%;
            background-color:#ecebeb2d;
            opacity: .7;
            border-bottom: var(--primaryColor) 1px solid;
        }
        .spacer{
            width: auto;
        }
        .addRoleButton {

            justify-self: flex-end;
        }
    }
}


.actionButtonsSection {
    width: 100%;
    margin-top: 30px;
    justify-self: flex-end;
    .actionButtonContainer {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        column-gap: 30px;

        .resetButton {
            background-color: var(--accent3Color);
            color: white;
        }
        .deleteButton {
            background-color: var(--accent3Color);
        }

        .saveButton {
            background-color: var(--accent2Color);

        }

        .publishButton {
        background-color: var(--accent1Color);
        border: 1px solid var(--accent3Color);
        }
        .actionButton {
            border-radius: 20px;
        }
    }
}

.duration {
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}
