<div mat-dialog-container>

    <div mat-dialog-content>
        <form action="" class="myExperienceForm" [formGroup]="myExperienceForm" >


            <div class="shellContainer">

                <div class="shellContent">

                    <div class="header">

                      <div class="headerText">
                          <div>Edit Experiences</div>
                         <fa-icon [icon]="faClose" class="closeIcon" (click)="closeDialog()"></fa-icon>
                      </div>




                    </div>
 <mat-divider class="mat-devider"></mat-divider>
                    <div class="infoSection first">
                        <div class="infoContainer">

 <div class="info">


                                <div class="label-wrapper">
                                    <mat-label class="infoLabel">Company</mat-label>
                                </div>

                                <div class="infoData">
                                    <div class="dataContainer">

                                        <input matInput placeholder="{{company}}" name="company" id="companyId" formControlName="company">

                                    </div>

                                </div>
                              </div>

                            <app-image-getter [Title]="'Logo'" docID="{{id$ | async}}" [projectCreatorID]="projectCreatorID$ | async"
                                [typeOfClass]="getClass()" (mediaRtUrl)="processNewLogoUrlRt($event)"
                                [preview]="logoUrl$ | async"
                                class="logoGetter" >
                            </app-image-getter>









                        </div>
                    </div>


                    <div class="infoSection">
                        <div class="infoContainer dateAndTitle">
                          <div class="title">
                         <mat-form-field>
                                <div class="label-wrapper">
                                    <mat-label class="infoLabel">Title</mat-label>
                                </div>

                                <div class="infoData">
                                    <div class="dataContainer">

                                        <input matInput placeholder="{{title}}" name="title" id="titleId" formControlName="title">

                                    </div>

                                </div>
                            </mat-form-field>
                          </div>

                            <div class="duration">


                                <mat-form-field >
                                    <div class="label-wrapper">
                                        <mat-label class="infoLabel">Started
                                          <span class="origDate">{{ origStart }}</span>
                                        </mat-label>

                                    </div>

                                    <div class="infoData">
                                        <div class="dataContainer">

                                             <input type="date" matInput placeholder="" value="{{origStart}}" name="started" id="staredId"
                                                formControlName="started">

                                        </div>

                                    </div>
                                </mat-form-field>
                                <mat-form-field >
                                    <div class="label-wrapper">
                                        <mat-label class="infoLabel">Completed
                                          <span class="origDate">{{origComplete}}</span>
                                        </mat-label>
                                    </div>

                                    <div class="infoData">
                                        <div class="dataContainer">

                                            <input type="date" matInput placeholder="{{origComplete}}" name="completed" id="completedId"
                                                value={{origComplete}}
                                                 formControlName="completed">

                                        </div>

                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="infoSection">
                        <div class="infoContainer cityAndState">
                            <mat-form-field class="">
                                <div class="label-wrapper">
                                    <mat-label class="infoLabel">City</mat-label>
                                </div>

                                <div class="infoData">
                                    <div class="dataContainer">

                                        <input matInput placeholder="{{city }}" name="city" id="cityId"  formControlName="city">

                                    </div>

                                </div>
                            </mat-form-field>
                            <mat-form-field class="">
                                <div class="label-wrapper">
                                    <mat-label class="infoLabel">State</mat-label>
                                </div>

                                <div class="infoData">
                                    <div class="dataContainer">

                                        <input matInput placeholder="{{state}}" name="state" id="stateId" formControlName="state">

                                    </div>

                                </div>
                            </mat-form-field>

                        </div>
                    </div>
                     <div class="infoSection">
                        <div class="infoContainer">



                        <div class="displayRoles">



                            <div class="label-wrapper">
                                <mat-label class="infoLabel roles">
                                    Roles:
                                </mat-label>
                            </div>

                            <div class="infoData roles">
                                <div class="rolesContainer">
                                    <div *ngFor="let role of (roles$|async)"  class="roleContent">
                                        <div class="dataContainer">
                                            <div class="roleTitle">
                                                <p  [ngClass]="getReqState(role.editState)">
                                                {{role.myTitle}}
                                                </p>

                                            </div>
                                            <div class="roleDescription">
                                                <p [ngClass]="getReqState(role.editState)">
                                                {{role.myRole}}</p>

                                            </div>
                                            <div class="spacer"></div>
                                            <fa-icon
                                             (click)="toggleRemoveRole(role)"
                                            class="reqIcon reqIconDelete"

                                            [icon]="faTrash"
                                          ></fa-icon>
                                        </div>



                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                    </div>
                    <div class="infoSection">
                        <div class="infoContainer">
                            <div class="addRoleContainer">
                              <div class="addRoleInfo">
                                <mat-form-field class="addRole">
                                <div class="label-wrapper addRole">
                                    <mat-label class="infoLabel">Add Role:</mat-label>

                                </div>

                                <div class="infoData">
                                    <div class="roleContainer">
                                        <div class="roleContent">
                                            <div class="addRoleTitle">
                                                <mat-label class="addRoleHeader">Title</mat-label>
                                                <input type="text" matInput class="addRoleTitle" placeholder="" formControlName="myTitle" id="roleTitleId" name="roleTitle"/>

                                            </div>
                                            <div class="addRoleDescription">
                                                <mat-label class="addRoleHeader">
                                                    Description
                                                </mat-label>
                                                <textarea matInput placeholder="" type="text"class="roleMyRole" formControlName="myRole" id="roleMyRoleId" name="roleMyRole"></textarea>
                                            </div>



                                        </div>

                                    </div>

                                </div>
                            </mat-form-field>

                          </div>
                              <div class="addRoleButton">
                                   <fa-icon (click)="addRole()" [icon]="faAdd"></fa-icon>
                              </div>
                            </div>


                        </div>
                    </div>


                </div>
                <div class="actionButtonsSection">
                        <div class="actionButtonContainer">

                        <app-edit-action-buttons (save)="saveToDB()" (reset)="resetChanges()" (delete)="deleteFromDB()"></app-edit-action-buttons>
                        </div>

                </div>
            </div>


        </form>
    </div>
</div>
