// mat-dialog-container {
//     padding: 0;
//     margin: 0;
//     width: auto;
//     overflow: visible;
// }
// mat-dialog-content {
//     padding: 0;
//     margin: 0;
//     width: 900px;
//     overflow-x: hidden;

// }

.shellContainer {
  padding: 0 10px 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: auto;
  overflow: visible;
  width: 500px;
  margin: 0 auto;
  overflow-y: visible;
  overflow-x: hidden;
  align-content: space-between;
  border: solid 1px #eee0e056;
  font-family: furtura-pt;
//  .siteLogo {
//    display: flex;
//    flex-direction: column;
//    position: relative;


//    z-index: 1;
//    margin-top: -10px;
//    margin-left: -40px;
//    width: 80px;
//    height: 80px;
//    background-image: url('../../../../assets/images/svg/SVG/SaveButton.svg');
//    background-size: 60px;
//    background-position: center center;
//    padding: auto auto;

//    background-repeat: no-repeat;

//    .sL {
//      margin: auto auto;
//      height: 50px;
//      width: 50px;
//      z-index: 20;

//    }
//    span.pee{
//      font-family: surburban;
//    }
//  }
  .shellContent {
      margin: 30px 10px;
      overflow:visible;

  justify-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  justify-content: flex-end;
  align-self: center;
  overflow-x: hidden;
  }

  .header {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    width: 100%;
    margin: 0 auto 0px auto;
    align-items: flex-start;
    font-size: 12px;
    font-family: furtura-pt;
    padding: 0px;
    color: var(--secondaryColor);
 .headerText {
   width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

      vertical-align: center;
      .headerTextFirst {
        font-family: suburban;
        font-size: 40px;
      }
      .closeIcon {
        color: var(--accent1Color);

      }
      .closeIcon:hover {
        color: var(--accent2Color);
      }
      }

    }


 .mat-devider {
   width: 100%;
    margin: 0px 0 0 auto;
    color: var(--secondaryColor);
    }




.infoSection {
    width: 100%;
    margin: 0 auto;

    .infoContainer{
        display: flex;
        flex-direction: row;
        column-gap: 40px;
        justify-content: space-between;
        padding: 0 auto;
        align-content: flex-start;
        margin-top: 0;
        width: 100%;
      .mat-focused .mat-form-field-label {
        color: var(--accent1Color) !important;
      }
        app-image-getter {
            width:50%;
        }
        .info {
          align-self: flex-start;
          padding-top: 0;
          border-bottom: 1px black solid;
        }
       .infoContainer.dateAndTitle {
         display: flex;
         flex-direction: row;
            justify-content: space-between;


.duration {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
mat-form-field {
  width: 60%;
  .mat-form-field-prefix, .mat-form-field-suffix {
    margin-left: -30px;
  }
}
}
          }

        .mat-form-field-label-wrapper {
            width: 100%;
            padding-top:0;
        }
        .label-wrapper {
            width: 100%;
            background-color: transparent;
            line-height: 0.9em;
            margin: 0px 0 8px 0;
            padding: 5px 0px;
        }
        .infoLabel {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            margin: auto auto;
            font-size: 9px;
            color: var(--primaryColor);
            .origDate {
              color: var(--secondaryColor);
            }
        }
        mat-form-field.addRole {
            width: 100%;

        }
        .infoLabel.roles {
            align-items: flex-start;
            margin-top: 0;
        }
        .label-wrapper.addRole {
            width: 100%;
            margin-top: 10px;
        }

          input {
            padding: 5px 5px;

          }

        .infoData {
            align-items: center;
            margin: 0;
            justify-content: flex-start;
            font-size: 12px;
        }

        .dataContainer{
            display: flex;
            flex-direction: row;
            column-gap: 10px;
        }
        .infoData.roles .rolesContainer {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: 100%;

        .roleContent {
            display: flex;
            flex-direction: row;
            column-gap: 30px;

            padding: 10px 10%;
            width: 100%;
            justify-content: flex-start;
            .dataContainer {
                width: 100%;

                .roleTitle {
                    width: 20%;

                }
                .roleDescription {
                    width: 50%;
                }
                .roleDescription p {
                    flex-wrap:wrap;

                }
                .spacer {
                    width: auto;
                }
                fa-icon {

                    justify-self: flex-end;
                }
                p.markedForRemoval {
                    color: pink;
                }


                p.markedForAdd {
                    color: lightgreen;
                }
                p.unmarked {
                    color: black;
                }
            }
        }
    }
        .displayRoles {
            width: 100%;
        }
        .infoData.roles {
            width: 100%;
            padding: 10px;
        }
        .roleContainer .roleContent {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: 100%;
            padding: 0px 0;
           justify-content: space-around;
           align-items: flex-start;

        }

        .addRoleContainer {
          display: flex;
          flex-direction: row;
          column-gap: 30px;
          width: 100%;
          .addRoleInfo {
            width: 80%;
            .label-wrapper.addRole{
            margin: 0 0 20px 0;
            mat-form-field.addRole {
              width: 100%;
            }
        }

        .addRole.infoData {
          padding: 10px;
        }
        .addRoleTitle {

            display: flex;
            flex-direction: column;
            padding: 0px 0px 20px 0;
        }
        .addRoleHeader {
            font-size: 9px;
            color: #707070;
        }
        .addRoleDescription {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 8px;
        }
          }
          .addRoleButton {

          }
        }

        input#roleTitleId {
            width: 100%;
            background-color:#ecebeb2d;
            opacity: .7;
            border-bottom: var(--primaryColor) 1px solid;
        }
        // textarea#roleMyRoleId {
        //     width: 100%;
        //     background-color:#ecebeb2d;
        //     opacity: .7;
        //     border-bottom: var(--primaryColor) 1px solid;
        // }
        .spacer{
            width: auto;
        }
        .addRoleButton {
            align-self: flex-end;
            margin-right: 30px;
            margin-bottom: 20px;
            justify-self: flex-end;
            border: none;
            background-color: white;
            color: var(--accent1Color);
            font-size: 25px;
        }
    }
}
.infoSection.first {
  margin-top: 40px;
}

.actionButtonsSection {
  display:flex;
  flex-direction: column;

  width: 100%;
    margin-top: 30px;
    justify-content: flex-end;
    .actionButtonContainer {
        width: 70%;
        margin: auto 0 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        column-gap: 30px;


    }
}


}
