.sectionContainer {
  width: 100%;

.displayProjectsSection {
  display: flex;
  justify-self: flex-start;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 40px;
  margin-top: 40px;
   margin-left: 280px;
  flex-wrap: wrap;
  width: calc(100% - 280px);
  justify-content: flex-start;
}
@media (max-width: 600px) {
  .displayProjectsSection {
      display: flex;
  justify-self: flex-start;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 40px;
  margin-left: 40px;
  margin-top: 140px;
  margin: 140px 0 20px 250px;
  flex-wrap: wrap;
  width: 360px;
  min-width: 360px;

  justify-content: flex-start;
  }
}
.addProjectsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 80%;
  margin: 0 0 0 10%;
  justify-content: flex-end;

}
.fa-plus-circle {
  color: green;
}

.addProjectIcon{

  font-size: 30px;
  color: var(--accent2Color);


}
p.iconLabel {
  font-size: 18px;
  font-family: futura-pt, sans-serif;
 margin: auto;
 padding-top: 5px;
 text-decoration: underline;

}
}
