<div class="shellContainer">
    <div class="shellContent">

        <div class="actionButtons">

            <div class="actionButtonsContainer">


                <app-experience-controller ></app-experience-controller>

                <app-action-buttons
                [myClass]="pageClass"
                class="appButtons"
                *ngIf="(isAuthenticated && (userID$|async)==(authenticatedUserID$|async))"
                (addClassSignal)="createExperience()"></app-action-buttons>

          </div>
        </div>



        <div class="experienceContent">


            <app-experience-shell *ngIf="(experienceData$|async).length>0" class="experienceShell"></app-experience-shell>





        </div>

    </div>








</div>








