.shellContainer {
    width: 100%;

.shellContent{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-end;
    margin: auto;

    .actionButtons {
 
    height: 60px;
    width: 100%;
    
}
.experienceContent {
    
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;



}

}
.experienceCtroller {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-self: center;
    justify-content: center;
    margin-top: 0px;
    font-family: bio-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    margin:20px auto;
}

.experienceControllerContent {
display: flex;
flex-direction:row;
column-gap: 60px;
}
//EXPERIENCE CONTAINER  ALL WILL BE IT'S OWN COMPONENT

}