.shellContainer {
    width: 100%;

.shellContent{
    width: 80%;

    row-gap: 20px;
    justify-content: flex-end;
    margin: auto;
    
    .actionButtons {
 
    height: 60px;
    width: 100%;

    .actionButtonsContainer {
       display: flex;
       flex-direction: row;
       column-gap: 10px; 
       justify-content: space-between;
       button.gapper {
           background-color: transparentize($color: #95bcd3, $amount: 0.5);
        //    background-color: var(--accent2Color);
        font-family: futura-pt;
        border: #707070 1px solid;
       }
        .experienceCtroller {
            
            
            margin-top: 0px;
            font-family: bio-sans, sans-serif;
            font-weight: 200;
            font-style: normal;
            font-size: 18px;
            margin: 20px 0;

            .experienceControllerContent {
                display: flex;
                flex-direction:row;
                column-gap: 40px;
                margin: auto;
                justify-self: flex-start;
                    fa-icon.anchorIcon {
                        align-self: center;
                        font-size: 30px;
                    }
                    p {
                        vertical-align: center;
                        justify-self: center;
                        align-self: center;
                        margin: auto;
                    }
            }
    }
    app-action-buttons{
        width: 20%;
    }
    

    }

}

.experienceContent {
    
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;



}

}



}