<div class="projectStatusSection">
    <form [formGroup]="statusForm">
    <div class="projectStatusContainer">
        <div class="projectStatus">
          <div class="statusData">
            <span>Started:</span>
            <input
              matInput
            fromControlName="started"
              id="startedId"
              type="date"
              class="startDate"
              name="startDate"

            />
          </div>

          <div class="statusData">
            <span>Completed:</span>
            <input
              matInput
            fromControlName="completed"
              id="completedId"
              type="date"
              class="completeDate"
              name="completeDate"

            />
          </div>




          <div class="statusData">
            <p>Published:</p>

             <div class="publishedIconContainer">
              <span>

                <input

                  type="button"
                  formControlName="published"
                  id="publishStatusButton"
                  name="publishStatusButton"
                  class="publishStatusButton"
                  (change)="publishChange()"
                />

              </span>

            </div>
          </div>
        </div>
      </div>
    </form>
</div>
