<div class="projectStatusSection">
    <form [formGroup]="statusForm">
    <div class="projectStatusContainer">
        <div class="projectStatus">
          <div class="statusData">
            <span>Date Started:</span>
            <input
              matInput
            fromControlName="started"
              id="startedId"
              type="date"
              class="startDate"
              name="start"
              
            />
          </div>

          <div class="statusData">
            <span>Date Started:</span>
            <input
              matInput
            fromControlName="completed"
              id="completedId"
              type="date"
              class="completeDate"
              name="start"
              
            />
          </div>

         

          
          <div class="statusData">
            <p>Published:</p>
          
             <div class="publishedIconContainer">
              <span>
                
                <input
                
                  type="button"
                  formControlName="published"
                  id="publishStatusButton"
                  name="publishStatusButton"
                  class="publishStatusButton"
                  (change)="publishChange()"
                />

              </span>

            </div>
          </div>
        </div>
      </div>
    </form>
</div>
