.shellContainer
{
    font-size: 12px;
    font-family: futura-pt;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  // flex-direction: column-reverse;
  .shellContent {
    display: grid;
justify-content: flex-start;
align-items: center;
  grid-template-areas:
    "p a a a a a a a a a"  //CERTNAME
    "b b ba h h bf f f f f "  //  ISSUED & VALID
    "c c ca ca l l l l l  l" // CERT ID
    "d d da da n n n  n n n"  // ISSUING BODY
    ;

    grid-template-columns: 10px 30px 40px 50px 40px 60px 80px 50px 50px 200px;
    grid-template-rows: 40px 30px 40px auto;






  }
  .shellContent > .certName {
    grid-area: a;
    margin: 10px;
    p{
        color: var(--accent3Color);
        width:fit-content;
        text-decoration: underline;
    }


  }

.issuedHeading {
grid-area: ba;
color: var(--accent1Color);
}
.issuedData {
  grid-area: h;
}
.validHeading {
  grid-area: bf;
  color: var(--accent1Color);
}
.validData {
grid-area: f;
}
.certIDHeading {
  grid-area: ca;
  color: var(--accent1Color);
}
.certIDData {
  grid-area: l;
}
.issuingBodyHeading {
  grid-area: da;
  align-self: center;
  vertical-align: center;
    color: var(--accent1Color);
}
.issuingBodyingData{
  grid-area: n;
.isb-dataContainer {
display: flex;
flex-direction: row;
column-gap: 10px;
align-items: center;
.isb-logo {

  max-height: 40px;
  max-width: 60px;
  align-self: center;
  justify-self: center;
}
.isb-Name {

  align-self: center;
  overflow-wrap: anywhere;
  width: 100px;
  height: auto;
}
}
}
}


