    <div class="actionButtonsSection">
                        <div class="actionButtonContainer">
                            <button mat-raised-button class="actionButton deleteButton" (click)="deleteFromDB()">Delete</button>
                            <button mat-raised-button class="actionButton resetButton" (click)="resetChanges()">Reset</button>
                            <button mat-raised-button class="actionButton saveButton" (click)="saveToDB()">Save</button>

                        </div>
</div>
