<div class="componentContainer" *ngIf="experienceData.length>0">

  <div class="componentContent">

    <div class="buttonContainer">
 <button  class="expControllerBttn" (click)="previousExperience()"
   matRipple
    [matRippleColor]="myColor"
    [matRippleUnbounded]="unbounded"
    [matRippleCentered]="centered">Prev</button>
    </div>
<div class="labelContainer">
<mat-label class="controllerData">{{focusedAt + 1}}</mat-label>
</div>

<div class="anchorContainer">
 <fa-icon class="anchorDivide" [icon]="faAnchor"></fa-icon>
 <!-- <img appImgSrc="../../../assets/images/AdobeStock_82102547.jpeg" alt="" width="70px"> -->
</div>


<div class="labelContainer">
<mat-label class="controllerData">{{experienceDataTotal}}</mat-label>
</div>
    <div class="buttonContainer">

<button  class="expControllerBttn" (click)="nextExperience()"
    matRipple
    [matRippleColor]="myColor"
    [matRippleUnbounded]="unbounded"
    [matRippleCentered]="centered">Next</button>
    </div>





  </div>

</div>
