mat-card{
    border:none;
}
.result-card {
    width: 150px;
    background-color: transparent;
    border:none;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    row-gap:10px;
    padding: 8px;
    .userPhoto{
      align-self: center;
        border-radius: 10px;
        max-width: 150px;
        max-height: 150px;

    }
    .username {
        align-self: center;
      font-size: 16px;
            -webkit-text-stroke: 1px var(--accent3Color);
            -webkit-text-fill-color: black;

    }
}
