 <div class="divContainer">


<form [formGroup]="editProfileForm">


 <div class="infoContainer firstInfo">
            <div class="infoShell">
              <mat-form-field>
                  <mat-label>Username</mat-label>
                  <input
                      placeholder="Username"
                      id="usernameId"
                      matInput
                      formControlName="username"
                      type="text">
              </mat-form-field>



            </div>

</div>

<div class="infoContainer">
            <div class="infoShell">
            <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input type="text"
                      matInput
                      placeholder="one@example.com"
                      id="emailId"
                      formControlName="email">
            </mat-form-field>

            </div>
 </div>


 <div class="infoContainer">
   <div class="infoShell">
     
   </div>
 </div>
 </form>
 </div>
