<div mat-dialog-container>
    <div mat-dialog-content>
        <form [formGroup]="myProjectForm" class="myProjectFormClass">
            <div class="viewProjectContainer">

           
            <div class="bannerContainer"
            [ngStyle]="{ 'background-image': 'url(&quot;' + (projectBanner$ | async) + '&quot; )' }">
                <div class="bannerContent">

                    <!-- ICONS SECTION -->
                    <!-- ICONS INPUT: PROJECT LINKS -->
                    <!-- ICONS OUTPUT: gitLink & siteLink -->
                    <app-icons-section 
                    (closeDialog)="closeDialog($event)"
                    [editMode]="editMode"
                    
                
                    ></app-icons-section>

                    <!-- IMAGE UPLOAD SECTIONS -->
                    <div class="imgUploadSection">
                        <div class="imgUploadContainer">
                          <app-image-getter [Title]="'Small Banner'" 
                            [docID]="projectID$ | async"
                            [projectCreatorID]="projectCreatorID$ | async" 
                            [typeOfClass]="getClass()"
                            
                            (mediaRtUrl)="processNewSmallBannerRt($event)">
                          </app-image-getter>
                          
                          <app-image-getter [Title]="'Big Banner'" 
                          [docID]="projectID$ | async"
                          [projectCreatorID]="projectCreatorID$ | async"
                          
                          [typeOfClass]="getClass()"
                          (mediaRtUrl)="processNewBannerRt($event)"></app-image-getter>
          
                         
                         
                      
                          
                        </div>
                    </div> 


                    <app-project-status-section></app-project-status-section>

                </div>
            </div>
            <div class="contentSection">
                <div class="titleContatiner">
                  <div class="titleHeading">
                    <h4 class="title">Title:</h4>
      
                    <input
                      type="text"
                      formControlName="projectName"
                      id="projectNameId"
                      class="titleInputData"
                    />
                  </div>
                </div>
            </div>
            
            <div class="contentSection">
                <div class="descriptionTitleContainer">
                  <div class="descriptionTitle">
                    <h4>Project Description</h4>
                  </div>
                </div>
      
                <div class="descriptionContent">
                  <input
                    type="textarea"
                    formControlName="description"
                    id="descriptionId"
                    class="descriptionTextInput"
                  />
                </div>
            </div>

            <div class="contentSection">
                <div class="requirementsTitleContainer">
                  <div class="requirementsTitle">
                    <h4>Project Requirements</h4>
                  </div>
                </div>

            <app-display-requirements></app-display-requirements>
      


            </div> 

            <div class="contentSection">
              <app-action-buttons (closeDialog)="closeDialog($event)" ></app-action-buttons>
            </div>
            
            
          
          </div> <!--  closes viewProjectContainer  -->
        </form>
         
    </div>
</div>

