<div mat-dialog-container>
    <div mat-dialog-content>
        <form [formGroup]="myProjectForm" class="myProjectFormClass">
            <div class="viewProjectContainer">


            <div class="bannerContainer"
            [ngStyle]="{ 'background-image': 'url(&quot;' + (projectBanner$ | async) + '&quot; )' }">
                <div class="bannerContent">

                    <!-- ICONS SECTION -->
                    <!-- ICONS INPUT: PROJECT LINKS -->
                    <!-- ICONS OUTPUT: gitLink & siteLink -->
                    <app-icons-section
                    (closeDialog)="closeDialog($event)"
                    [editMode]="editMode"


                    ></app-icons-section>

                    <!-- IMAGE UPLOAD SECTIONS -->
                    <div class="imgUploadSection">
                        <div class="imgUploadContainer">
                          <app-image-getter [Title]="'Small Banner'"
                            [docID]="projectID$ | async"
                            [projectCreatorID]="projectCreatorID$ | async"
                            [typeOfClass]="getClass()"

                            (mediaRtUrl)="processNewSmallBannerRt($event)">
                          </app-image-getter>

                          <app-image-getter [Title]="'Big Banner'"
                          [docID]="projectID$ | async"
                          [projectCreatorID]="projectCreatorID$ | async"

                          [typeOfClass]="getClass()"
                          (mediaRtUrl)="processNewBannerRt($event)"></app-image-getter>





                        </div>
                    </div>


                    <app-project-status-section></app-project-status-section>

                </div>
            </div>
            <div class="contentSection">

                    <mat-form-field>
                        <mat-label class="title">Title</mat-label>
                        <input
                          type="text"
                          matInput
                          formControlName="projectName"
                          id="projectNameId"
                          class="titleInputData"
                        />
                      </mat-form-field>




            </div>

            <div class="contentSection">

                  <mat-form-field class="descriptionContent">
                    <mat-label class="title">Project Description</mat-label>

                  <textarea
                    type="textarea"
                    matInput
                    formControlName="description"
                    id="descriptionId"
                    class="descriptionTextInput"
                  ></textarea>

                  </mat-form-field>




            </div>

            <div class="contentSection">
                <div class="requirementsTitleContainer">
                  <div class="requirementsTitle">

                   <mat-label class="title">Project Requirements</mat-label>
                  </div>
                </div>

            <app-display-requirements></app-display-requirements>



            </div>

            <div class="contentSection">
              <app-action-buttons (closeDialog)="closeDialog($event)" ></app-action-buttons>
            </div>



          </div> <!--  closes viewProjectContainer  -->
        </form>

    </div>
</div>


