<div class="actionButtonsContainer">

    <button mat-raised-button class="actionButton deleteButton" (click)="clearChanges()">
      Cancel Changes
    </button>
    <button mat-raised-button class="actionButton deleteButton" (click)="deleteProject()">
      Delete
    </button>
    <button mat-raised-button class="actionButton saveButton" (click)="saveProject()">
      Save
    </button>
    <button mat-raised-button class="actionButton publishButton" (click)="publishToggleProject()">
      Publish
    </button>
  

</div>